<div id="social-icons">
    <div class="text-right">
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/profile.php?id=100005979314804" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://github.com/DawoodArsalaan" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
            <li><a href="https://twitter.com/ArsalaanDawood" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mohammed-dawood-507111208/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>