<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Dawood Mohammed</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">

    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/templatemo-style.css">

    <link rel="stylesheet" href="/css/responsive.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
    <link rel="manifest" href="/media/site.webmanifest">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/media/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    
    <%- include('partials/navbar.ejs')%></div>
    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <video autoplay muted loop id="myVideo">
            <source src="/media/video-bg.mp4" type="video/mp4">
        </video>
        <div id="fullpage" class="fullpage-default">
            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <span>About Me</span>
                                                <h2>Me?</h2>
                                                <p>A student, A Web Dev, A Writer and a focused individual. Born and brought up in the tree city of India that is 'Hyderabad. I'm currently persuing Software Engineering at Centennial College, Progress Campus, Scarborough. 
                                                I'm a learning factor in my own interests and looking to explore more areas of expertise to gain knowledge about how thing function.
                                                <br><br>
                                                I've been a freelance writer and Freelance Web Developer. I have experience with python and github/git bash, and I am interested in learning about finance, networking, Web applications and programming languages.
                                                A Precise individual who can coupe with a team as well as perform projects
                                                as an individual. Basically a Student eager in learning how technology works
                                                and about coding. Focusing on self growth and improving skills in various
                                                interested fields.
                                                Interested highly in Open World Gaming, Hollywood movies, and TV-series these are my basic hobbies.<br></p>
                                            </div>
                                            <div class="facts-list owl-carousel">
                                                <div class="item animate" data-animate="">
                                                    <div class="counter-box">
                                                        <div class="item animate" data-animate="fadeInUp">
                                                            <div class="portfolio-item">
                                                                <i class="fa fa-bars counter-icon" aria-hidden="true"></i><span class="count-number"></span>Resume
                                                                <div class="thumb-inner2 animate" data-animate="fadeInUp">
                                                                    <a class="thumb-inner2" href ="/media/Resume.pdf" attributes-list download ></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">1</span> Awards Won
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-desktop counter-icon" aria-hidden="true"></i><span class="count-number">8</span> Working Span<br>(In Months)<br>
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span class="count-number">2</span> Certificates
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <figure class="about-img animate" data-animate="fadeInUp"><img src="/media/meh.jpeg" style="width:390px;height:420px;" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/socialicons.ejs') %>
    </div>
    <script src="/js/jquery.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/fullpage.min.js"></script>
    
    <script src="/js/scrolloverflow.js"></script>
    
    <script src="/js/owl.carousel.min.js"></script>
    
    <script src="/js/jquery.inview.min.js"></script>
    
    <script src="/js/form.js"></script>
    
    <script src="/js/custom.js"></script>
    <%- include('partials/footer.ejs') %>
</body>
</html>