<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Dawood Mohammed</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">

    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/templatemo-style.css">

    <link rel="stylesheet" href="/css/responsive.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
    <link rel="manifest" href="/media/site.webmanifest">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/media/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <%- include('partials/navbar.ejs')%>
    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <video autoplay muted loop id="myVideo">
            <source src="/media/video-bg.mp4" type="video/mp4">
        </video>

        <div id="fullpage" class="fullpage-default">
            <div class="section animated-row" data-section="slide05">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Projects</span>
                                <h2>what i’ve done?</h2>
                            </div>
                            <div class="gallery-section">
                                <div class="gallery-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                            <img src="/media/blog.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <a class="thumb-inner1" href="https://docs.google.com/document/d/1FzAjDRU3Dqod7usRkYN-fli4iiJZExUkCmYPxG-V9Yw/edit?usp=sharing" target="_blank" ></a>
                                                <h4>My Written Blog</h4>
                                                <p>This is one of the many blogs I've worked on for my clients.</p>
                                            </div>
                                        </div>
                                    </div>
                       
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/media/Research.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <a class="thumb-inner1" href="https://drive.google.com/file/d/1Riq0q3kSo6KHbc-dZbo2eiTzjJ8uqR-o/view?usp=sharing" target="_blank"></a>
                                                <h4>My Research Writing Project</h4>
                                                <p>Checkout my research project.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="portfolio-item">
                                            <div class="thumb">
                                                <img src="/media/Transcription.jpg" alt="">
                                            </div>
                                            <div class="thumb-inner animate" data-animate="fadeInUp">
                                                <a class="thumb-inner1" href="https://drive.google.com/file/d/1mfLtYwDlV_sBHPj18l2XiMe2PJb_6A-X/view?usp=sharing" target="_blank"></a>
                                                <h4>Transcription</h4>
                                                <p>Audio-to-text translation project I worked on.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/socialicons.ejs') %>
    </div>
    <script src="/js/jquery.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/fullpage.min.js"></script>
    
    <script src="/js/scrolloverflow.js"></script>
    
    <script src="/js/owl.carousel.min.js"></script>
    
    <script src="/js/jquery.inview.min.js"></script>
    
    <script src="/js/form.js"></script>
    
    <script src="/js/custom.js"></script>
    <%- include('partials/footer.ejs') %>
</body>
</html>