<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Dawood Mohammed</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">

    <link rel="stylesheet" href="/css/animate.css">

    <link rel="stylesheet" href="/css/templatemo-style.css">

    <link rel="stylesheet" href="/css/responsive.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/media/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
    <link rel="manifest" href="/media/site.webmanifest">
    <link rel="shortcut icon" href="/media/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/media/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <%- include('partials/navbar.ejs')%>
    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <video autoplay muted loop id="myVideo">
            <source src="/media/video-bg.mp4" type="video/mp4">
        </video>
        <div id="fullpage" class="fullpage-default">
            <div class="section animated-row" data-section="slide04">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>My Skills</span>
                                <h2>Skills I have:</h2>
                            </div>
                            <div class="skills-row animate" data-animate="fadeInDown" >
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">   
                                        <div class="skill-item">
                                            <h6>Article Writing</h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar">
                                                    <div class="skill-shape"><span>85%</span></div>
                                                </div>   
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>HTML CSS</h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar-2">
                                                    <div class="skill-shape"><span>45%</span></div>
                                                </div>
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>Python</h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar-3">
                                                    <div class="skill-shape"><span>70%</span></div>
                                                </div>
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>Communicative <br> Fluency & Writing<br>(English)<br> </h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar-4">
                                                    <div class="skill-shape"><span>90%</span></div>
                                                </div>
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>React Node.JS</h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar-5">
                                                    <div class="skill-shape"><span>20%</span></div>
                                                </div>
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>MS Office</h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar-3">
                                                    <div class="skill-shape"><span>70%</span></div>
                                                </div>
                                            </div>          
                                        </div>
                                        <div class="skill-item">
                                            <h6>C/C++</h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar-6">
                                                    <div class="skill-shape"><span>60%</span></div>
                                                </div>
                                            </div>          
                                        </div>
                                        <div class="skill-item last-skill">
                                            <h6> JavaScript</h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar-7">
                                                    <div class="skill-shape"><span>40%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="skill-item">
                                            <h6>Medicinal <br>Knowlegde<br></h6>
                                            <div class="skill-bar">
                                                <div class="filled-bar-8">
                                                    <div class="skill-shape"><span>75%</span></div>
                                                </div>
                                            </div>          
                                        </div>          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/socialicons.ejs') %>
    </div>
    <script src="/js/jquery.js"></script>

    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/fullpage.min.js"></script>
    
    <script src="/js/scrolloverflow.js"></script>
    
    <script src="/js/owl.carousel.min.js"></script>
    
    <script src="/js/jquery.inview.min.js"></script>
    
    <script src="/js/form.js"></script>
    
    <script src="/js/custom.js"></script>

    <%- include('partials/footer.ejs') %>
    
</body>
</html>